<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\Model\AccountManagement">
        <plugin name="omakazit_disable_customer_account_management" type="Omakazit\DisableCustomer\Plugin\Customer\Model\AccountManagement" sortOrder="10" />
    </type>
    <type name="Magento\Customer\Controller\Account\Create">
        <plugin name="omakazit_disallow_b2c_customer_registration" type="Omakazit\DisableCustomer\Plugin\Customer\Controller\Account\Create" sortOrder="10" />
    </type>
    <type name="Magento\Customer\Controller\Account\CreatePost">
        <plugin name="omakazit_disallow_b2c_customer_registration_post" type="Omakazit\DisableCustomer\Plugin\Customer\Controller\Account\Create" sortOrder="10" />
    </type>
</config>
